.parent{
    height: auto;
    width: auto;
    position: relative;
    display: block;
    
}

.card{
    height: auto;
    width: auto;
    position: relative;
    
    background-color: #ebab81;

    @media  screen and(min-width: 1200px) {
        display: flex;
    }
    @media  screen and(max-width: 1200px) {
        display:inline-block;
       
    }
    @media  screen and(max-width: 400px) {
        display:inline-block;
        height: 1300px;
    }
    @media  screen and(max-width: 500px) {
        display:inline-block;
        height: 1000px;
    }
}

.cardCol{
    height: auto;
    
    width: auto;
    position: relative;
    display: inline-block;
    flex: 1;
   

     @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: 500px;
        position: relative;
        display: block;
        
    }
    @media  screen and(max-width: 1000px) {
        height: 500px;
        position: relative;
        display: block;
        
    }
    @media  screen and(max-width: 500px) {
        height: 500px;
        position: relative;
        display: block;
       
        
    }

}

.cardText{
    position: relative;
    display: block;
    padding: 80px;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    left: 0;
    height: auto;
    
}



.cardCol img{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    right: 0;
    

    @media  screen and(max-width:1200px) {
        display: block;
        
        
    }
    @media  screen and(min-width:1200px) {
        flex:1;
        
    }

  
    
    
}
.headerText{
    
    font-size: 30px; 
    text-align: center;
    font-weight: bold;  
}
.body{
   
    font-size: 30px;
    padding-top: 20px;
    @media screen and(max-width:1200px) {
        font-size: 20px;
        
    }
    
}
.button{
    position: relative;
    display: block;
    background-color: white;
    width: auto;
    height: 150px;
}
.button h1{
    text-align: center;
    font-size: 60px;
}
.cardText{
    position: relative;
    display: block;
    background-color: #ebab81;
    width: auto;
    height: auto;
    transform: translateY(-50%,-50%);
     @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: auto;
        position: relative;
        display: block;
    }
}
