.Parent{
    position: relative;

    background-color:#ebab81;
    width: auto;
    height: auto;
    transform: translateY(-50%,-50%);
    padding: 0px 40px 40px 40px;
    z-index: 1000;
    @media screen and(min-width:900px){
        display: flex;
        
    }
    @media screen and(max-width:900px){
        display: block;
        
    }

    
}

.landingContainerContainer {
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.landingContainerText {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    display: block;
    top: 40%;
    transform: translateY(-40%);
}
.landingContainerTextHeading {
    color: white;
    font-size: 42px;
    position: relative;
    display: block;
}
.landingContainerTextSubheading {
    color: white;
    font-size: 28px;
    padding-bottom:60px;
    position: relative;
    display: block;
    text-align: center;
    
    @media screen and(max-width: 400px){
        padding-bottom:70px;

    }
}
.landingContainerTextSubheadingT {
    color: white;
    font-size: 28px;
    
    position: relative;
    display: block;
    text-align: center;
    
}


.ReviewBox{
    width: auto;
    height: auto;
    padding: 30px;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    
   
    background-color:  green;
    transition: transform 1s ease;
    @media screen and(max-width:1200px){
        flex:1;
        
    }
    @media screen and(min-width:1200px){
        display: block;
        
    }

}
.PhilosphyBox{
    width: 300px;
    height: auto;
    padding: 400px;
    margin-left: 10px;
    
    margin-right: 10px;
    position: relative;
    background-color:white;
    

    
    @media screen and(min-width:700px){
        flex:1;
        margin-top: -50px;
        
    }
    @media screen and(max-width:700px){
        display: block;
        
    }
}
.BoatBox{
    width: 300px;
    height: auto;
    padding: 30px;
    margin-left: 10px;
    margin-top: -50px;
    margin-right: 10px;
    position: relative;
    background-color:white;
    transition: transform 1s ease;
    @media screen and(min-width:700px){
        flex:1;
        
    }
    @media screen and(max-width:700px){
        display: block;
        
    }

}

.textWrapper{
    top: 50%;
    text-align: left;
    font-family: 'Permanent Marker';
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    position: relative;
    display: block;
    @media screen and(max-width:1200px){
        font-size: 30px;
        
    }
}
.Charter{
    position: relative;
    display: block;
    background-color:white;
    
    width: auto;
    height: auto;
 
    
}
.textWrapperHeader{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    position: relative;
    display: block;
    top: 50%;
   
    
}
.textWrapperHeader p{
    position: relative;
    display: block;
    font-size: 40px;
    
}


.img{
    position: relative;
    width: auto;
    height: 2000px;
    background-image: url('../../public/HomePage2.jpg');
    background-size: cover;
    background-position: center;

    @media screen and(max-width:1200px){
        height: 600px;
        
    }
   
}
.imgWrapper{
    position: relative;
    display: block;
    
}

.card{
    position: relative;
    width: auto;
    
    background-color: #ebab81;
    @media  screen and(min-width: 1200px) {
        display: flex;
        min-height: 1200px;
    }
    @media  screen and(max-width: 1200px) {
        display: block;
    }
}
.cardImg{
    position: relative;
    width: auto;
    padding-right: 300px;
    background-image: url("../../public/TrentWithFish.PNG");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
        
    }
    @media  screen and(max-width: 1200px) {
        height: 700px;
        position: relative;
        display: block;
        padding-bottom: 100px;
    }
    
}
.cardimgtwo{
    position: relative;
    width: auto;
    height: auto;
    background-image: url("../../public/TrentWithTuna.JPG");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
        
    }
    @media  screen and(max-width: 1200px) {
        height: 700px;
        position: relative;
        display: block;
        padding-bottom: 100px;
    }
    
}
.cardText{
    position: relative;
    display: inline-block;
    width: auto;
    background-color: #ebab81;
    font-size: 10px;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: auto;
        position: relative;
        display: block;
    }
}

.cardTextWrapper{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    @media screen and (min-width: 1200px){
        
       
    }
}

.cardText p{
    position: relative;
    display: inline-block;
    color: red;
    
    font-size: 20px;
    padding: 5px 30px;
}
.cardText b{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-left: 20px;
    color: red;    
}
.cardText body{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 600px;
    padding-left: 20px;
    color: red;
    
}
.cardText header{
    position: relative;
    display: inline-block;
    font-size: 40px;
    padding-top: 400px;
    padding-left: 20px;
    color: red;
    
}

.cardImgOne{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/Review2.PNG");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: 600px;
        position: relative;
        display: block;
    }
    
}
.reviewintro{
    position: relative;
    width: auto;
    height: auto;
    background-color: #ebab81;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    
    
}
.reviewintrotext{
    position:relative;
    display:block;
    height:200px;
    width: auto;
    background-color: green;
    text-align: center;
    padding-top: 70px;
    color: red;

}
.reviewintro p{
    position: relative;
    display: block;
    height: auto;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: red;
    
    
}
.cardImgtwo{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    flex: 1;
    background-image: url("../../public/reviewimage2.jpg");
    background-size: cover;
    background-position: center;
    @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: 600px;
        position: relative;
        display: block;
    }
    
}
.button{
    position: relative;
    display: block;
    background-color: white;
    width: auto;
    height: 150px;
}
.buttonBox{
    position: relative;
    display:block;
    
    height:auto;
    width:auto;
    
}
.button h1{
    text-align: center;
    font-size: 60px;
}

.p{
    color: red
}
.h1{
    color: red;
}


