.card{
    position: relative;
    width: auto;
    min-height: 1200px;
    background-color: white;
    display: block;
     @media  screen and(min-width: 1200px) {
        display: flex;
    }
    @media  screen and(max-width: 1200px) {
        display: block;
    }

}
.cardImg{
    position: relative;
    display: block;
    width: auto;
    height: 1200px;
    background-image: url("../../public/BoatInInlet.PNG");
    background-size: cover;
    background-position: center;
    
    @media  screen and(max-width: 1200px) {
        width: auto;
        height: 400px;
    }
}
.cardText{
    position: relative;
    display:flex;
    width: auto;
    background-color: #ebab81;
    height: auto;
    width: auto;
    padding-bottom: 30px;
    
}
.cardtextyBox{
    width: 300px;
    height: auto;
    padding: 30px;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    flex: 1;
    background-color:  white;
    transition: transform 1s ease;
}
.cardText p{
    
    font-size: 20px;
    
  
}
.container{
    position: relative;
    width: auto;
    background-color: white;
    
     @media  screen and(min-width: 1200px) {
        display: flex;
        min-height: 1200px;
    }
    @media  screen and(max-width: 1200px) {
        display: block;
        height: auto;
    }
   

}
.containerImg{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    background-image: url("../../public/BoatAtMech.PNG");
    background-size: cover;
    background-position: center;
     @media  screen and(min-width: 1200px) {
        position: relative;
        display: block;
        flex: 1;
       
    }
    @media  screen and(max-width: 1200px) {
        height: 400px;
        position: relative;
        display: block;
    }
    

}
.containerTwo{
    position: relative;
    display: inline-block;
    width: auto;
    padding-right: 300px;
    background-image: url("../../public/BoatInSlip.PNG");
    background-size: cover;
    background-position: center;

     @media  screen and(min-width: 1200px) {
        position: relative;
        display: inline-block;
        flex: 1;
    }
    @media  screen and(max-width: 1200px) {
        height: 400px;
        position: relative;
        display: block;
    }
    

}
.button{
    position: relative;
    display: block;
    background-color: white;
    width: auto;
    height: 150px;
    @media  screen and(max-width: 1200px) {
        height: 250px;
    }
  
}
.button h1{
    text-align: center;
    font-size: 60px;
}
